{
  "openapi": "3.0.0",
  "info": {
    "title": "NTX Pay Public API — México",
    "description": "API Pública NTX Pay para integração com SPEI (cash-in/cash-out) no México. Todos os valores monetários são expressos em centavos MXN.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://sandbox.mx.ntxpay.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Geração de token via certificado X.509 + clientId/clientSecret"
    },
    {
      "name": "Signup",
      "description": "Criação de conta (sandbox ou produção)"
    },
    {
      "name": "SPEI",
      "description": "Transferências interbancárias instantâneas mexicanas (cash-in via CLABE descartável; cash-out para CLABE)"
    },
    {
      "name": "Balance",
      "description": "Consulta de saldo da conta (centavos MXN)"
    },
    {
      "name": "Transactions",
      "description": "Listagem paginada de transações da conta (rate-limit 30/min)"
    },
    {
      "name": "Webhooks Config",
      "description": "Configuração de webhooks para notificações de eventos"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT obtido em POST /api/auth/token"
      },
      "clientCert": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SSL-Client-Cert",
        "description": "Certificado X.509 do cliente em PEM URL-encoded"
      }
    },
    "schemas": {
      "GenerateTokenInputDto": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret"
        ],
        "properties": {
          "clientId": {
            "type": "string",
            "description": "OAuth 2.0 client ID emitido durante o signup",
            "example": "qr-93-550e8400"
          },
          "clientSecret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64,
            "description": "OAuth 2.0 client secret (8-64 caracteres)",
            "example": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
          }
        }
      },
      "GenerateTokenOutputDto": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT de acesso",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Tempo de expiração em segundos",
            "example": 600
          },
          "scope": {
            "type": "string",
            "example": "email profile"
          }
        }
      },
      "CreateSignupInputDto": {
        "type": "object",
        "required": [
          "email",
          "holderName",
          "entityType"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email de contato — vira o login (owner) do portal.",
            "example": "dev@empresa.com"
          },
          "holderName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "description": "Nome/razão do titular da conta",
            "example": "Empresa Demo S.A. de C.V."
          },
          "entityType": {
            "type": "string",
            "enum": [
              "SAPI_CV",
              "SA_CV",
              "OTHER"
            ],
            "description": "Tipo de entidade jurídica mexicana. `SAPI_CV` e `SA_CV` exigem `razonSocial`.",
            "example": "OTHER"
          },
          "razonSocial": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "description": "Razão social. **Obrigatória** quando `entityType` é `SAPI_CV` (sufixo \"S.A.P.I. de C.V.\") ou `SA_CV` (sufixo \"S.A. de C.V.\").",
            "example": "Empresa Demo S.A. de C.V."
          },
          "holderTaxIdPrimary": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC do titular (10-20 caracteres). **Opcional** no sandbox: se omitido, um RFC único de teste é gerado automaticamente.",
            "example": "XAXX010101000"
          },
          "name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "description": "Nome do contato (default = holderName).",
            "example": "Maria Lopez"
          },
          "holderNickname": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "description": "Apelido / nome fantasia.",
            "example": "Empresa Demo"
          },
          "phone": {
            "type": "string",
            "minLength": 8,
            "maxLength": 20,
            "description": "Telefone E.164",
            "example": "+5215512345678"
          },
          "isSandbox": {
            "type": "boolean",
            "description": "Default **true**: cria conta SANDBOX self-service. `isSandbox=false` (conta de produção) NÃO é self-service — requer onboarding com KYC pelo time.",
            "default": true,
            "example": true
          },
          "holderTaxIdPrimaryType": {
            "type": "string",
            "enum": [
              "RFC",
              "CURP"
            ],
            "deprecated": true,
            "description": "[DEPRECATED] Ignorado pelo backend (o tipo do documento é sempre RFC; a classificação jurídica vem de `entityType`)."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "PJ",
              "PF"
            ],
            "deprecated": true,
            "description": "[DEPRECATED] Ignorado pelo backend. Use `entityType`."
          }
        }
      },
      "SignupCertificateDto": {
        "type": "object",
        "properties": {
          "fingerprint": {
            "type": "string",
            "example": "sha256:abcd1234..."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2027-05-13T00:00:00.000Z"
          }
        }
      },
      "CreateSignupOutputDto": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "example": 93
          },
          "publicId": {
            "type": "string",
            "example": "acc_550e8400-e29b-41d4-a716-446655440000"
          },
          "mainProvider": {
            "type": "string",
            "enum": [
              "smartfastpay",
              "sandbox"
            ]
          },
          "credentials": {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string",
                "example": "qr-93-550e8400"
              },
              "clientSecret": {
                "type": "string",
                "description": "Secret OAuth 2.0 — exibido **uma única vez**. Guarde em local seguro.",
                "example": "a1b2c3d4e5f6g7h8"
              }
            }
          },
          "certificate": {
            "$ref": "#/components/schemas/SignupCertificateDto",
            "description": "Certificado mTLS, quando emitido"
          },
          "message": {
            "type": "string",
            "example": "Conta criada com sucesso. Guarde clientSecret em local seguro."
          }
        }
      },
      "SpeiCashInInputDto": {
        "type": "object",
        "required": [
          "amountCentavos",
          "customerName",
          "customerEmail"
        ],
        "properties": {
          "amountCentavos": {
            "type": "integer",
            "minimum": 1,
            "description": "Valor em centavos MXN (mín. 1).",
            "example": 50000
          },
          "externalId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Identificador externo / referência do cliente.",
            "example": "order-abc-123"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "Pedido #123"
          },
          "customerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Nome do pagador (mostrado no checkout SPEI)",
            "example": "Juan Perez"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "description": "Email do pagador",
            "example": "juan@example.com"
          },
          "customerTaxId": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC/CURP do pagador",
            "example": "PEPJ800101ABC"
          }
        }
      },
      "SpeiCashInBeneficiaryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "NTX Pay MX"
          },
          "taxId": {
            "type": "string",
            "nullable": true,
            "example": "NTX800101ABC"
          }
        }
      },
      "SpeiCashInOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 12345
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED",
              "EXPIRED"
            ],
            "example": "PENDING"
          },
          "destinationClabe": {
            "type": "string",
            "description": "CLABE descartável de destino para o pagador transferir",
            "example": "012180001234567890"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/SpeiCashInBeneficiaryDto"
          },
          "referenceNumerical": {
            "type": "string",
            "nullable": true,
            "example": "1234567"
          },
          "checkoutUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "https://pay.ntxpay.com/checkout/xyz"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-14T23:59:59.000Z"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          }
        }
      },
      "SpeiCashOutInputDto": {
        "type": "object",
        "required": [
          "amountCentavos",
          "destinationClabe",
          "beneficiaryName"
        ],
        "properties": {
          "amountCentavos": {
            "type": "integer",
            "minimum": 1,
            "example": 50000,
            "description": "Valor em centavos MXN (mín. 1)."
          },
          "destinationClabe": {
            "type": "string",
            "pattern": "^\\d{18}$",
            "description": "CLABE destino (exatamente 18 dígitos).",
            "example": "012180001234567890"
          },
          "beneficiaryName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "example": "Maria Lopez"
          },
          "beneficiaryTaxId": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC/CURP (opcional)",
            "example": "LOMA850101ABC"
          },
          "concept": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Conceito/descrição (aparece para o beneficiário)",
            "example": "Pago factura 123"
          }
        }
      },
      "SpeiCashOutOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 56789
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED"
            ],
            "example": "PENDING"
          },
          "destinationClabe": {
            "type": "string",
            "example": "012180001234567890"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          },
          "referenceNumerical": {
            "type": "string",
            "nullable": true,
            "example": "9876543"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-13T12:00:00.000Z"
          }
        }
      },
      "WebhookItemOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "cash_in",
                "cash_out",
                "refund_in",
                "refund_out",
                "internal_transfer"
              ]
            },
            "example": [
              "cash_in"
            ]
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T10:30:00.000Z"
          }
        }
      },
      "ListWebhooksOutputDto": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "example": 93
          },
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookItemOutputDto"
            }
          },
          "total": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "SetupWebhookInputDto": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL HTTPS que receberá os webhooks",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Um webhook assina **exatamente UM** evento. O campo é um array por compatibilidade de contrato, mas deve conter um único item.",
            "items": {
              "type": "string",
              "enum": [
                "cash_in",
                "cash_out",
                "refund_in",
                "refund_out",
                "internal_transfer"
              ]
            },
            "example": [
              "cash_in"
            ]
          },
          "secret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "description": "Secret HMAC para assinatura. Se omitido, o NTX Pay gera automaticamente.",
            "example": "whsec_abc123"
          }
        }
      },
      "SetupWebhookOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "url": {
            "type": "string",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "cash_in"
            ]
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "secret": {
            "type": "string",
            "description": "Secret gerado pelo NTX Pay — exibido apenas na criação. Guarde com segurança.",
            "example": "whsec_abc123"
          }
        }
      },
      "DeleteWebhookOutputDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Webhook removido com sucesso"
          }
        }
      },
      "GetBalanceOutputDto": {
        "type": "object",
        "properties": {
          "availableCentavos": {
            "type": "integer",
            "description": "Saldo disponível em centavos (MXN)",
            "example": 4873490
          },
          "pendingCentavos": {
            "type": "integer",
            "description": "Saldo pendente / bloqueado em centavos (MXN)",
            "example": 0
          },
          "currency": {
            "type": "string",
            "enum": [
              "MXN"
            ],
            "description": "Moeda da conta (sempre MXN)",
            "example": "MXN"
          }
        }
      },
      "TransactionOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID interno da transação",
            "example": 12345
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "External / idempotency reference",
            "example": "ext-abc-123"
          },
          "paymentMethod": {
            "type": "string",
            "example": "SPEI"
          },
          "direction": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ],
            "example": "in"
          },
          "type": {
            "type": "string",
            "description": "cash_in, cash_out, refund_in, refund_out, internal_transfer",
            "example": "cash_in"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED",
              "EXPIRED"
            ],
            "example": "CONFIRMED"
          },
          "provider": {
            "type": "string",
            "example": "smartfastpay"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          },
          "clabe": {
            "type": "string",
            "nullable": true,
            "description": "CLABE de origem / destino",
            "example": "012180001234567890"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-12T14:30:00.000Z"
          },
          "confirmedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-12T14:31:05.000Z"
          }
        }
      },
      "PaginationMetadataDto": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total de registros",
            "example": 142
          },
          "limit": {
            "type": "integer",
            "description": "Limite aplicado",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "description": "Offset aplicado",
            "example": 0
          },
          "hasMore": {
            "type": "boolean",
            "description": "Existe próxima página",
            "example": true
          }
        }
      },
      "SearchTransactionsOutputDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionOutputDto"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/PaginationMetadataDto"
          }
        }
      },
      "TestWebhookInputDto": {
        "type": "object",
        "required": [
          "eventType"
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "enum": [
              "cash_in",
              "cash_out",
              "refund_in",
              "refund_out",
              "internal_transfer"
            ],
            "description": "Evento a simular (qual webhook recebe)."
          },
          "status": {
            "type": "string",
            "enum": [
              "LIQUIDATED",
              "PENDING",
              "REJECTED",
              "RETURNED"
            ],
            "default": "LIQUIDATED",
            "description": "Status no payload. REJECTED/RETURNED simulam estados de ERRO."
          },
          "overrideUrl": {
            "type": "string",
            "description": "URL temporária de teste (ex.: webhook.site). Se omitida, entrega na URL configurada. A assinatura usa o secret do webhook configurado."
          },
          "amountCentavos": {
            "type": "integer",
            "minimum": 1,
            "default": 1000,
            "description": "Valor em centavos (default 1000 = $10)."
          }
        }
      },
      "TestWebhookOutputDto": {
        "type": "object",
        "properties": {
          "delivered": {
            "type": "boolean",
            "description": "true = o endpoint do integrador respondeu 2xx."
          },
          "url": {
            "type": "string",
            "description": "URL para onde o webhook de teste foi enviado."
          },
          "eventId": {
            "type": "string",
            "description": "ID do evento (header x-event-id) — use para idempotência."
          },
          "status": {
            "type": "string"
          },
          "signed": {
            "type": "boolean",
            "description": "true = payload assinado (X-NTXPay-Signature)."
          },
          "statusCode": {
            "type": "integer",
            "description": "Status HTTP que o endpoint do integrador respondeu (0 = erro de conexão)."
          },
          "timeMs": {
            "type": "integer"
          },
          "signatureHeader": {
            "type": "string",
            "nullable": true,
            "description": "Header X-NTXPay-Signature enviado (sha256=<hex>)."
          },
          "payloadSent": {
            "type": "object",
            "description": "Payload enviado — compare com o que seu endpoint recebeu.",
            "additionalProperties": true
          },
          "merchantResponse": {
            "nullable": true,
            "description": "Trecho da resposta do seu endpoint."
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/token": {
      "post": {
        "summary": "Gerar JWT access token",
        "description": "**Requer certificado X.509 no header `X-SSL-Client-Cert` (URL-encoded PEM)**. Autentica via certificado + clientId/clientSecret e retorna um JWT para uso nos demais endpoints.",
        "operationId": "AuthController_token",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "X-SSL-Client-Cert",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Certificado X.509 em PEM URL-encoded"
          }
        ],
        "security": [
          {
            "clientCert": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token gerado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida ou certificado ausente"
          },
          "401": {
            "description": "Credenciais ou certificado inválidos"
          }
        }
      }
    },
    "/api/signup": {
      "post": {
        "summary": "Criar nova conta (sandbox ou produção)",
        "description": "Endpoint **público** (sem JWT, sem certificado). Cria conta NTX Pay MX, configura Keycloak, limites e taxas default. Se `isSandbox=true`, conta usa provider `sandbox` (transações simuladas); caso contrário, `smartfastpay` (produção).",
        "operationId": "SignupController_create",
        "tags": [
          "Signup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSignupInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSignupOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos ou tax ID já em uso"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    },
    "/api/spei/cash-in": {
      "post": {
        "summary": "Criar cobrança SPEI (cash-in)",
        "description": "**Requer Bearer JWT**. Gera uma CLABE descartável de destino que o pagador deve usar em uma transferência SPEI. Confirmação assíncrona via webhook `cash_in`.",
        "operationId": "SpeiCashInController_create",
        "tags": [
          "SPEI"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeiCashInInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobrança SPEI criada (PENDING)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeiCashInOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/spei/cash-out": {
      "post": {
        "summary": "Enviar SPEI (cash-out)",
        "description": "**Requer Bearer JWT**. Envia transferência SPEI para uma CLABE de destino. Confirmação assíncrona via webhook `cash_out`.",
        "operationId": "SpeiCashOutController_create",
        "tags": [
          "SPEI"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeiCashOutInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cash-out aceito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeiCashOutOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Saldo insuficiente ou payload inválido"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/balance": {
      "get": {
        "summary": "Consultar saldo da conta",
        "description": "**Requer Bearer JWT**. O `accountId` é extraído do token. Retorna o saldo da conta em centavos MXN.",
        "operationId": "BalanceController_getBalance",
        "tags": [
          "Balance"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saldo consultado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBalanceOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido ou ausente"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    },
    "/api/transactions": {
      "get": {
        "summary": "Listar transações da conta autenticada",
        "description": "**Requer Bearer JWT**. O `accountId` é extraído do token. Retorna uma lista paginada de transações da conta. **Rate-limit: 30 req/min por conta.**",
        "operationId": "TransactionsController_search",
        "tags": [
          "Transactions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Quantidade máxima de registros (1-100, default 20)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Offset para paginação (default 0)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro por status (PENDING | CONFIRMED | FAILED | EXPIRED)",
            "example": "CONFIRMED"
          },
          {
            "name": "paymentMethod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro por payment method (SPEI)",
            "example": "SPEI"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            },
            "description": "Filtro por direction (in | out)",
            "example": "in"
          }
        ],
        "responses": {
          "200": {
            "description": "Transações retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchTransactionsOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos"
          },
          "401": {
            "description": "Token inválido ou ausente"
          },
          "429": {
            "description": "Rate limit excedido (30 req/min por conta)"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/webhooks-config": {
      "get": {
        "summary": "Listar webhooks da conta",
        "description": "**Requer Bearer JWT**.",
        "operationId": "WebhooksConfigController_list",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido"
          }
        }
      },
      "post": {
        "summary": "Configurar webhook",
        "description": "**Requer Bearer JWT**. URL HTTPS + exatamente UM evento (array com 1 item) + secret opcional para assinatura HMAC. Se `secret` for omitido, o NTX Pay gera um automaticamente e retorna na resposta — guarde com segurança.",
        "operationId": "WebhooksConfigController_setup",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetupWebhookInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook configurado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupWebhookOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    },
    "/api/webhooks-config/test": {
      "post": {
        "summary": "Enviar webhook de teste",
        "description": "**Requer Bearer JWT**. Dispara um webhook de teste assinado (`X-NTXPay-Signature`) no webhook configurado para o `eventType` escolhido — ou numa `overrideUrl` (ex.: webhook.site). Use `status` `REJECTED`/`RETURNED` para simular estados de ERRO. One-shot (sem retry).",
        "operationId": "WebhooksConfigController_test",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWebhookInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da entrega (delivered, statusCode, payloadSent, assinatura).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWebhookOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Nenhum webhook configurado p/ o evento, ou payload inválido"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "notification-ms indisponível"
          }
        }
      }
    },
    "/api/webhooks-config/{id}": {
      "delete": {
        "summary": "Remover webhook",
        "description": "**Requer Bearer JWT**.",
        "operationId": "WebhooksConfigController_delete",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID do webhook"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook removido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido"
          },
          "404": {
            "description": "Webhook não encontrado"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    }
  }
}