{
  "openapi": "3.0.0",
  "info": {
    "title": "NTX Pay Public API — México",
    "description": "API Pública NTX Pay para integração com SPEI (cash-in/cash-out) no México. Todos os valores monetários são expressos em centavos MXN.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://sandbox.mx.ntxpay.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Geração de token via certificado X.509 + clientId/clientSecret"
    },
    {
      "name": "Signup",
      "description": "Criação de conta (sandbox ou produção)"
    },
    {
      "name": "SPEI",
      "description": "Transferências interbancárias instantâneas mexicanas (cash-in via CLABE descartável; cash-out para CLABE)"
    },
    {
      "name": "Webhooks Config",
      "description": "Configuração de webhooks para notificações de eventos"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT obtido em POST /api/auth/token"
      },
      "clientCert": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SSL-Client-Cert",
        "description": "Certificado X.509 do cliente em PEM URL-encoded"
      }
    },
    "schemas": {
      "GenerateTokenInputDto": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret"
        ],
        "properties": {
          "clientId": {
            "type": "string",
            "description": "OAuth 2.0 client ID emitido durante o signup",
            "example": "qr-93-550e8400"
          },
          "clientSecret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64,
            "description": "OAuth 2.0 client secret (8-64 caracteres)",
            "example": "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
          }
        }
      },
      "GenerateTokenOutputDto": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT de acesso",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Tempo de expiração em segundos",
            "example": 600
          },
          "scope": {
            "type": "string",
            "example": "email profile"
          }
        }
      },
      "CreateSignupInputDto": {
        "type": "object",
        "required": [
          "holderName",
          "holderTaxIdPrimary",
          "holderTaxIdPrimaryType",
          "accountType"
        ],
        "properties": {
          "holderName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "description": "Nome do titular",
            "example": "Maria Lopez"
          },
          "holderTaxIdPrimary": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC (PF/PJ) ou CURP (PF)",
            "example": "LOMA850101ABC"
          },
          "holderTaxIdPrimaryType": {
            "type": "string",
            "enum": [
              "RFC",
              "CURP"
            ],
            "example": "RFC"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "PJ",
              "PF"
            ],
            "description": "PJ = empresa, PF = pessoa física",
            "example": "PF"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email de contato",
            "example": "maria@example.com"
          },
          "phone": {
            "type": "string",
            "minLength": 8,
            "maxLength": 20,
            "description": "Telefone E.164",
            "example": "+5215512345678"
          },
          "isSandbox": {
            "type": "boolean",
            "description": "Se true, cria conta em sandbox (mainProvider=sandbox). Default false.",
            "default": false
          }
        }
      },
      "SignupCertificateDto": {
        "type": "object",
        "properties": {
          "fingerprint": {
            "type": "string",
            "example": "sha256:abcd1234..."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2027-05-13T00:00:00.000Z"
          }
        }
      },
      "CreateSignupOutputDto": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "example": 93
          },
          "publicId": {
            "type": "string",
            "example": "acc_550e8400-e29b-41d4-a716-446655440000"
          },
          "mainProvider": {
            "type": "string",
            "enum": [
              "smartfastpay",
              "sandbox"
            ]
          },
          "credentials": {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string",
                "example": "qr-93-550e8400"
              },
              "clientSecret": {
                "type": "string",
                "description": "Secret OAuth 2.0 — exibido **uma única vez**. Guarde em local seguro.",
                "example": "a1b2c3d4e5f6g7h8"
              }
            }
          },
          "certificate": {
            "$ref": "#/components/schemas/SignupCertificateDto",
            "description": "Certificado mTLS, quando emitido"
          },
          "message": {
            "type": "string",
            "example": "Conta criada com sucesso. Guarde clientSecret em local seguro."
          }
        }
      },
      "SpeiCashInInputDto": {
        "type": "object",
        "properties": {
          "amountCentavos": {
            "type": "integer",
            "minimum": 1,
            "description": "Valor em centavos MXN (mín. 1). Use ESTE campo OU `amount` (mutuamente exclusivos).",
            "example": 50000
          },
          "externalId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Identificador externo (idempotência)",
            "example": "order-abc-123"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "Pedido #123"
          },
          "customerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Nome do pagador",
            "example": "Juan Perez"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "example": "juan@example.com"
          },
          "customerTaxId": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC/CURP do pagador",
            "example": "PEPJ800101ABC"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Alias Voluti — valor como string `\"100.00\"`. Convertido para centavos. Não usar junto com `amountCentavos`.",
            "example": "500.00"
          },
          "payer_name": {
            "type": "string",
            "maxLength": 255,
            "description": "Alias Voluti de `customerName`. Nome do pagador.",
            "example": "Juan Perez"
          },
          "conciliationId": {
            "type": "string",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9_]+$",
            "description": "Alias Voluti de `externalId`. Aceita apenas letras, dígitos e underscore.",
            "example": "order_abc_123"
          }
        }
      },
      "SpeiCashInBeneficiaryDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "NTX Pay MX"
          },
          "taxId": {
            "type": "string",
            "nullable": true,
            "example": "NTX800101ABC"
          }
        }
      },
      "SpeiCashInOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 12345
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED",
              "EXPIRED"
            ],
            "example": "PENDING"
          },
          "destinationClabe": {
            "type": "string",
            "description": "CLABE descartável de destino para o pagador transferir",
            "example": "012180001234567890"
          },
          "beneficiary": {
            "$ref": "#/components/schemas/SpeiCashInBeneficiaryDto"
          },
          "referenceNumerical": {
            "type": "string",
            "nullable": true,
            "example": "1234567"
          },
          "checkoutUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "example": "https://pay.ntxpay.com/checkout/xyz"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-14T23:59:59.000Z"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          },
          "conciliationId": {
            "type": "string",
            "description": "Alias Voluti — espelha `externalId` recebido na requisição (presente quando enviado).",
            "example": "order_abc_123",
            "nullable": true
          }
        }
      },
      "SpeiCashOutInputDto": {
        "type": "object",
        "properties": {
          "amountCentavos": {
            "type": "integer",
            "minimum": 1,
            "example": 50000,
            "description": "Valor em centavos MXN (mín. 1). Use ESTE campo OU `amount`."
          },
          "destinationClabe": {
            "type": "string",
            "pattern": "^(\\d{18}|\\d{16})$",
            "description": "CLABE destino. 18 dígitos (CLABE bancária) **ou** 16 dígitos (cartão de débito). Use ESTE OU `receiverClabe`.",
            "example": "012180001234567890"
          },
          "beneficiaryName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 255,
            "example": "Maria Lopez"
          },
          "beneficiaryTaxId": {
            "type": "string",
            "minLength": 10,
            "maxLength": 20,
            "description": "RFC/CURP (opcional)",
            "example": "LOMA850101ABC"
          },
          "concept": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Conceito/descrição (aparece para o beneficiário)",
            "example": "Pago factura 123"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+\\.\\d{2}$",
            "description": "Alias Voluti — valor como string `\"100.00\"`.",
            "example": "500.00"
          },
          "receiverClabe": {
            "type": "string",
            "pattern": "^(\\d{18}|\\d{16})$",
            "description": "Alias Voluti de `destinationClabe`.",
            "example": "012180001234567890"
          },
          "receiverName": {
            "type": "string",
            "maxLength": 255,
            "description": "Alias Voluti de `beneficiaryName`.",
            "example": "Maria Lopez"
          },
          "bankCode": {
            "type": "string",
            "description": "Alias Voluti — código do banco. **Aceito e ignorado** (a CLABE já contém o ISPB).",
            "example": "002"
          },
          "conciliationId": {
            "type": "string",
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9_]+$",
            "description": "Alias Voluti de `externalId`.",
            "example": "payout_001"
          },
          "externalId": {
            "type": "string",
            "maxLength": 100,
            "description": "Identificador externo / referência do cliente.",
            "example": "payout-001"
          }
        }
      },
      "SpeiCashOutOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 56789
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED"
            ],
            "example": "PENDING"
          },
          "destinationClabe": {
            "type": "string",
            "example": "012180001234567890"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          },
          "referenceNumerical": {
            "type": "string",
            "nullable": true,
            "example": "9876543"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-13T12:00:00.000Z"
          },
          "conciliationId": {
            "type": "string",
            "description": "Alias Voluti — espelha `externalId` recebido na requisição.",
            "example": "payout_001",
            "nullable": true
          }
        }
      },
      "WebhookItemOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "cash_in",
                "cash_out",
                "refund_in",
                "refund_out",
                "internal_transfer"
              ]
            },
            "example": [
              "cash_in",
              "cash_out"
            ]
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T10:30:00.000Z"
          }
        }
      },
      "ListWebhooksOutputDto": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "example": 93
          },
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookItemOutputDto"
            }
          },
          "total": {
            "type": "integer",
            "example": 2
          }
        }
      },
      "SetupWebhookInputDto": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL HTTPS que receberá os webhooks",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 5,
            "items": {
              "type": "string",
              "enum": [
                "cash_in",
                "cash_out",
                "refund_in",
                "refund_out",
                "internal_transfer"
              ]
            },
            "example": [
              "cash_in",
              "cash_out"
            ]
          },
          "secret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "description": "Secret HMAC para assinatura. Se omitido, o NTX Pay gera automaticamente.",
            "example": "whsec_abc123"
          }
        }
      },
      "SetupWebhookOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "url": {
            "type": "string",
            "example": "https://example.com/webhooks/mx"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "cash_in",
              "cash_out"
            ]
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "secret": {
            "type": "string",
            "description": "Secret gerado pelo NTX Pay — exibido apenas na criação. Guarde com segurança.",
            "example": "whsec_abc123"
          }
        }
      },
      "DeleteWebhookOutputDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Webhook removido com sucesso"
          }
        }
      },
      "SpeiTransactionOutputDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 12345
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "example": "order-abc-123"
          },
          "conciliationId": {
            "type": "string",
            "nullable": true,
            "description": "Alias Voluti — espelha `externalId`.",
            "example": "order_abc_123"
          },
          "paymentMethod": {
            "type": "string",
            "example": "SPEI"
          },
          "direction": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ]
          },
          "type": {
            "type": "string",
            "description": "cash_in, cash_out, refund_in, refund_out, internal_transfer",
            "example": "cash_in"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "FAILED",
              "EXPIRED"
            ]
          },
          "provider": {
            "type": "string",
            "example": "smartfastpay"
          },
          "amountCentavos": {
            "type": "integer",
            "example": 50000
          },
          "clabe": {
            "type": "string",
            "nullable": true,
            "example": "012180001234567890"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-12T14:30:00.000Z"
          },
          "confirmedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2026-05-12T14:31:05.000Z"
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/token": {
      "post": {
        "summary": "Gerar JWT access token",
        "description": "**Requer certificado X.509 no header `X-SSL-Client-Cert` (URL-encoded PEM)**. Autentica via certificado + clientId/clientSecret e retorna um JWT para uso nos demais endpoints.",
        "operationId": "AuthController_token",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "X-SSL-Client-Cert",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Certificado X.509 em PEM URL-encoded"
          }
        ],
        "security": [
          {
            "clientCert": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTokenInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token gerado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTokenOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida ou certificado ausente"
          },
          "401": {
            "description": "Credenciais ou certificado inválidos"
          }
        }
      }
    },
    "/api/signup": {
      "post": {
        "summary": "Criar nova conta (sandbox ou produção)",
        "description": "Endpoint **público** (sem JWT, sem certificado). Cria conta NTX Pay MX, configura Keycloak, limites e taxas default. Se `isSandbox=true`, conta usa provider `sandbox` (transações simuladas); caso contrário, `smartfastpay` (produção).",
        "operationId": "SignupController_create",
        "tags": [
          "Signup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSignupInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conta criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSignupOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos ou tax ID já em uso"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    },
    "/api/spei/cash-in": {
      "post": {
        "summary": "Criar cobrança SPEI (cash-in)",
        "description": "**Requer Bearer JWT**. Gera uma CLABE descartável de destino que o pagador deve usar em uma transferência SPEI. Confirmação assíncrona via webhook `cash_in`.",
        "operationId": "SpeiCashInController_create",
        "tags": [
          "SPEI"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeiCashInInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobrança SPEI criada (PENDING)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeiCashInOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/spei/cash-out": {
      "post": {
        "summary": "Enviar SPEI (cash-out)",
        "description": "**Requer Bearer JWT**. Envia transferência SPEI para uma CLABE de destino. Confirmação assíncrona via webhook `cash_out`.",
        "operationId": "SpeiCashOutController_create",
        "tags": [
          "SPEI"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeiCashOutInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cash-out aceito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeiCashOutOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Saldo insuficiente ou payload inválido"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/spei/transaction/{externalId}": {
      "get": {
        "summary": "Consultar transação SPEI por externalId / conciliationId",
        "description": "**Requer Bearer JWT**. Retorna UM registro SPEI da conta autenticada. Aceita o `externalId` enviado no cash-in/cash-out original. Compatível com `GET /api/v1/transaction/{conciliationId}/conciliation` da Voluti SPEI.",
        "operationId": "SpeiTransactionController_get",
        "tags": [
          "SPEI"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "External ID enviado no cash-in/cash-out (também aceito como conciliationId)",
            "example": "order-abc-123"
          }
        ],
        "responses": {
          "200": {
            "description": "Transação encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeiTransactionOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido"
          },
          "404": {
            "description": "Transação não encontrada ou não pertence à conta"
          },
          "502": {
            "description": "mexico-ms indisponível"
          }
        }
      }
    },
    "/api/webhooks-config": {
      "get": {
        "summary": "Listar webhooks da conta",
        "description": "**Requer Bearer JWT**.",
        "operationId": "WebhooksConfigController_list",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido"
          }
        }
      },
      "post": {
        "summary": "Configurar webhook",
        "description": "**Requer Bearer JWT**. URL HTTPS + lista de eventos (1-5) + secret opcional para assinatura HMAC. Se `secret` for omitido, o NTX Pay gera um automaticamente e retorna na resposta — guarde com segurança.",
        "operationId": "WebhooksConfigController_setup",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetupWebhookInputDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook configurado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupWebhookOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Payload inválido"
          },
          "401": {
            "description": "Token inválido"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    },
    "/api/webhooks-config/{id}": {
      "delete": {
        "summary": "Remover webhook",
        "description": "**Requer Bearer JWT**.",
        "operationId": "WebhooksConfigController_delete",
        "tags": [
          "Webhooks Config"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID do webhook"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook removido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookOutputDto"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido"
          },
          "404": {
            "description": "Webhook não encontrado"
          },
          "502": {
            "description": "account-ms indisponível"
          }
        }
      }
    }
  }
}